<% let now = new Date('2019-04-14 07:00:14'); %>
<%= dateAndTime.format(now, 'h:mm A | MMMM DD') %>

<div class="col-12 col-md-6 col-lg-4">
        <!-- Single Featured Post -->
        <% asidePosts.forEach(aside =>{ %>
        <div class="single-blog-post small-featured-post d-flex">
            <div class="post-thumb">
                <a href="#"><img src="<%= aside.photo %>" alt=""></a>
            </div>
            <div class="post-data">
                <a href="#" class="post-catagory"><%= aside.title %></a>
                <div class="post-meta">
                    <a href="#" class="post-title">
                        <h6><%= aside.text %></h6>
                    </a>
                    <p class="post-date"><span><%= dateAndTime.format(now, 'hh:mm')%>
                    </span> | <span><%= dateAndTime.format(now, 'MMMM DD, YYYY')%>
                    </span></p>
                </div>
            </div>
        </div>
        <% }) %>
    

    </div>